/* 全体の文字設定 */
body {
  font-family: "Noto Sans JP", sans-serif;
  line-height: 1.8;
  background-color: yellow;
}
/* セクションの余白 */
section {
  margin-bottom: 32px;
}

/* 見出し */
h2 {
  color: #2c3e50;
}

/* 画像サイズ調整 */
.photo {
  width: 360px;
  max-width: 100%;
  height: auto;
  display: block;
  margin: 16px auto;
　border-radius: 12px;

